*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font: 16px;
    color: #a2a2a2;
}



h1,
h2,
h3,
h4 {
    font-weight: 500;
    
    
}

/* utilities */

/* generali */



.height{
    height: 100%;
}


.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    margin: 0 auto;
    width: 1200px;
    position: relative;
    height: 100%;
}

.float-left{
    float: left;
}

/* bottone */

.btn{
    display: inline-block;
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
}

.btn.button-green{
    background-color: #7cbb01;
    border: 0;

}

/* barra */

.main-header li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;

}

.main-header a{
    text-decoration: none;
    color: whitesmoke;
    
}

.main-header a.btn{
    line-height: 0.8;
}



/* main-header */

.main-header{
    background-color: #0d325a;
    line-height: 80px;
    text-transform: uppercase;
    font-size: 12px;
}

.main-header .logo-left{
    width: 15%;
    
}

.main-header .logo-left img{
    vertical-align: middle;
}


.main-header .bar-left{
    width: 45%;
    

}

.main-header .bar-right{
    width: 40%;
    text-align: right;
   
}
/* Jumbotron */

.jumbotron{
    background-color: #0d325a;
    height: 480px;
    background-image: url('../img/background-header.png');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 118% 116%;
    
}

.box-banner{
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(0,-50%);
    
}

.box-banner .box-test h2{
    width: 70%;
    font-size: 33px;
    color: white;
    margin-bottom: 20px;
}

/* first gray */

.first-gray{
    background: #d3d3d3;
    height: 100px;
}


.first-gray .text-banner h2{
    color: black;
    width: 70%;
    text-align: center;

}


.first-gray .text-banner{
    width: 70%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-30%, -30%);
}


/* first-white */
.box-sculpture,
.box-pc,
.box-bacheca {
    width: 33%;
    height: 609px;
    margin-right: 4px;
    text-align: center;
    padding: 63px;
    
}


 .first-white img {
    height: 150px;
    margin-bottom: 20px;
}

.first-white .descriptive-box h3{
    font-size: 20px;
    color:  #7cbb01;

}

.first-white .descriptive-box p{
    font-size: 16px;
    width: 330px;
}



.second-white,
.first-white{
    background: white;
    height: 609px;
}

.special{
    display: inline-block;
    width: 50px;
    margin: 5% 40%;

}



/* second white */

.second-white .float-left{
    width: 50%;
}


.second-white .box-img img{
    margin-top: 50px;
}

.second-white .hero{
    margin-top: 50px;
    
}

.second-white .hero h3{
    font-size: 35px;
    color: black;
    font-weight: bold;
}

.second-white .hero p{
    font-size: 20px;
}

.space{
    margin: 20px;
}



/* footer barra */

footer{
    background: #d3d3d3;
    height: 189px;
}


.footer-left{
    width: 50%;
    margin-top: 61px;
    
}


.footer-right{
    width: 50%;
    margin-top: 65px;
}
.footer-left h3{
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.footer-right li{
    list-style: none;
    display: inline-block;
    margin-right: 44px;

}

.footer-right a:not(.button-green){
    text-decoration: none;
    color: #8d8d8d;
    
}




.footer-right .custom-select{
    color:  #8d8d8d;
    display: inline-block;
    width: 100px;
}

.footer-right .option{
    display: inline-block;
    width: 114px;
    border-bottom: 1px solid #8d8d8d;
}


.sticky-help{
    position: fixed;
    right: 168px;
    bottom: 8px;
    z-index: 10;
    width: 93px;
    text-align: center;
    line-height: 50px;
    background-color: #7cbb01;

}

.sticky-help h2{
    color: white;
    list-style: none;
    text-decoration: none;
    border-bottom: none;
    display: inline-block;
}
