*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font: 16px;
    color: #a2a2a2;
}

img{
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
    
    
}

/* utilities */

/* generali */



.height{
    height: 100%;
}


.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    margin: 0 auto;
    width: 1200px;
    position: relative;
    height: 100%;
}

.float-left{
    float: left;
}

/* bottone */

.btn{
    display: inline-block;
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
}

.btn.button-green{
    background-color: #7cbb01;
    border: 0;

}

/* barra */

.main-header li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;

}

.main-header a{
    text-decoration: none;
    color: whitesmoke;
    
}

.main-header a.btn{
    line-height: 0.8;
}



/* main-header */

.main-header{
    background-color: #0d325a;
    line-height: 80px;
    text-transform: uppercase;
    font-size: 12px;
}

.main-header .logo-left{
    width: 15%;
    
}

.main-header .logo-left img{
    vertical-align: middle;
}


.main-header .bar-left{
    width: 45%;
    

}

.main-header .bar-right{
    width: 40%;
    text-align: right;
   
}
/* Jumbotron */

.jumbotron{
    background-color: #0d325a;
    height: 480px;
    background-image: url('../img/background-header.png');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 118% 116%;
    
}

.box-banner{
    position: absolute;
    top: 45%;
    left: 0;
    transform: translate(0,-50%);
    
}

.box-banner .box-test h2{
    width: 70%;
    font-size: 33px;
    color: white;
    margin-bottom: 20px;
}

/* first gray */

.first-gray{
    background: #d3d3d3;
    height: 100px;
}


.first-gray .text-banner h2{
    color: black;
    width: 70%;
    text-align: center;

}


.first-gray .text-banner{
    width: 70%;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-30%, -30%);
}


/* first-white */
.box-pc,
.box-sculpture,
.box-bacheca {
    width: 33%;
    height: 100%;
    margin-right: 4px;
    
}

.box-sculpture .first-img img{
    margin-left: 128px;
    margin-top: 34px;
    width: 100px;
    object-fit: cover;
}



.box-pc .second-img img{
    margin-left: 120px;
    margin-top: 30px;
    width: 164px;
    object-fit: cover;
}





.box-bacheca .third-img img {
    margin-left: 120px;
    margin-top: 28px;
    width: 120px;
    object-fit: cover;
}

.box-sculpture p{
    text-align: center;
    width: 330px;
    margin-left: 20px;

}

.box-pc p{
    text-align: center;
    width: 330px;
    margin-left: 20px;
    margin-top: 7px;
}

.box-bacheca p{
    text-align: center;
    width: 330px;
    margin-left: 20px;
    margin-top: 5px;
}



.box-sculpture h3{
    text-align: center;
    width: 80%;
    color: #a6d153;
    margin-left: 7%;
}
.box-pc h3{
    text-align: center;
    width: 60%;
    color: #a6d153;
    margin-left: 17%;
    
}
.box-bacheca h3 {
    text-align: center;
    width: 83%;
    color: #a6d153;
    margin-left: 5%;
    
}

.second-white,
.first-white{
    background: white;
    height: 400px;
}

hr{
    display: inline-block;
    width: 50px;
    margin: 5% 40%;

}

footer{
    background: #d3d3d3;
    height: 95px;
}